<!DOCTYPE html>
<html ng-app="LiteBoiler">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Lite Boiler</title>

	<link rel="stylesheet" href="css/style.php/style.scss">

	<script src="js/angular/angular.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/angular/angular-route.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>

	<script src="js/page_module.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/user_module.js" type="text/javascript" charset="utf-8"></script>

	<link rel="stylesheet" href="mdl/material.min.css">
	<script src="mdl/material.min.js"></script>
</head>
<body>
	
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<header class="mdl-layout__header" ng-show="headerShow">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Lite Boiler</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
						<i class="material-icons">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="text" name="sample"
						id="fixed-header-drawer-exp" />
					</div>
				</div>
			</div>
		</header>

		<div class="mdl-layout__drawer" ng-show="headerShow">
			<span class="avatar" ng-show="user.isLogin()" ng-click="changePath('/profile')" > <img ng-src="{{user.profile.detail.avatar}}" alt=""> </span>
			<span class="mdl-layout-title" ng-show="user.isLogin()" ng-click="changePath('/profile')">{{user.profile.detail.nama_depan}} {{user.profile.detail.nama_belakang}}</span>
			
			<span class="not-connected" ng-hide="user.isLogin()" ng-click="user.cek()"> tidak terkoneksi ke server. </span>

			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="" ng-click="changePath('')">Home</a>
				<a class="mdl-navigation__link" href="" ng-hide="user.isLoginLocal()" ng-click="changePath('login')">Login</a>
				<a class="mdl-navigation__link" href="" ng-show="user.isLoginLocal()" ng-click="logout()">Logout</a>
			</nav>
		</div>

		<main class="mdl-layout__content">
			<div class="page-content">
				<div ng-view></div>	
			</div>
		</main>
	</div>

	<div loading-dir></div>

</body>
</html>