.layout-transparent {
	.mdl-layout__drawer-button {
		color: $color_grey;
	}
	.mdl-layout__header {
		color: $color_grey;
		.mdl-navigation {
			&__link {
				color: $color_grey;	
			}
		}
	}
}
.mdl-layout__drawer {
	.avatar {
		width: 100px;
		height: 100px;
		display: table;
		margin: 20px auto 5px auto;
		border-radius: 50%;
		box-shadow: 1px 1px 3px -1px $color_grey;
		background-size: cover;
		background-position: center center;
	}
	.mdl-layout-title {
		font-size: medium;
		text-align: center;
		color: $color_grey;
	}
	.not-connected {
		text-align: center;
		display: block;
		padding: 20px 0px;
		background-color: $color_grey5;
		color: $color_grey2;
	}
}