<div>

	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="mdl-tabs__tab-bar">
			<a href="#login-panel" class="mdl-tabs__tab is-active" id="bar_login"><i class="material-icons">&#xE7FD;</i> <span class="tab-icon-text">Login</span> </a>
			<a href="#register-panel" class="mdl-tabs__tab"><i class="material-icons">&#xE7FE;</i> <span class="tab-icon-text">Register</span></a>
		</div>

		<div class="mdl-tabs__panel is-active" id="login-panel">
			<!-- Textfield with Floating Label -->

			<form class="form-login" ng-submit="loginSubmit()">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<input class="mdl-textfield__input" type="text" id="l_username" ng-model="l_username" />
					<label class="mdl-textfield__label" for="l_username">Username</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<input class="mdl-textfield__input" type="password" id="l_password" ng-model="l_password" />
					<label class="mdl-textfield__label" for="l_password">Password</label>
				</div>

				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
					Login
				</button>
			</form>

		</div>
		<div class="mdl-tabs__panel" id="register-panel">
			<form class="form-login form-register" ng-submit="registerSubmit()">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<input class="mdl-textfield__input" type="text" id="r_username" ng-model="r_username" />
					<label class="mdl-textfield__label" for="r_username">Username</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<input class="mdl-textfield__input" type="email" id="r_email" ng-model="r_email" />
					<label class="mdl-textfield__label" for="r_email">Email</label>
				</div>

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<input class="mdl-textfield__input" type="password" id="r_password" ng-model="r_password" />
					<label class="mdl-textfield__label" for="r_password">Password</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<input class="mdl-textfield__input" type="password" id="r_password2" ng-model="r_password2" />
					<label class="mdl-textfield__label" for="r_password2">Ulangi Password</label>
				</div>

				<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
					<input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-model="r_setuju" />
					<span class="mdl-checkbox__label">Setuju dengan syarat dan ketentuan berlaku</span>
				</label>

				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
					Register
				</button>
			</form>
		</div>
	</div>

</div>